<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin's TODO</title>
</head>
<body>
    <center>
    <h1>New TODO</h1>
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="content" class="form-label">Enter content</label><br>
        <textarea class="form-control" id="todocontent" name="content" rows="3"></textarea>
      </div>
      <br>
      <button class="btn btn-primary">ADD</button>
    </form>

    </center>
</body>
</html>